.bg-container {
  background-color: #e2a139;
  min-height: 100vh;
  border: 1px solid #e2a139;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  max-width: 400px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.toss-results {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
}

.heads-image {
  height: 120px;
  width: 120px;
}

.button {
  height: 40px;
  width: 120px;
  background-color: #e2a139;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 16px;
}

.count-status-container {
  display: flex;
}

.count {
  color: #334155;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  padding: 16px;
}
